*{
    font-family: Raleway, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #FDD116;
}
#wrapper{
    width: 80%;
    margin:auto;
    background-color: white;
}
header{
    display:flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #4C8DCD;
    color: white;
    border-bottom-style: dashed;
    margin-bottom: 30px;
    padding: auto;
}
svg{
    width: 50px;
    height: 50px;
    background-color: #FDD116;
    right:0;
    top:0;
    position: absolute;
    padding: auto;
}
nav{
    width: 20%;
    left: auto;
    bottom: auto;
    background-color: #FDD116;
    border: solid;
    height: 100vh;
    translate: 100% 0;
    transition: translate 0.5s, display 0.5s ease-out allow-discrete;

    &:popover-open{
        translate: 0 0;
        
        @starting-style {
            translate: 100% 0;
        }

    }
}
h2{
    font-size: 2.2em;
    margin-top: auto;
    padding:auto;
    font-style: italic;
    text-align: justify;
    display:flex;
    position:relative;
}
.couch{
    width: 100%;
    height: 100%;
}
.couch img{
    width: 100%;
    margin: auto;
    border-style: solid;
    border-color: white;
}
a:link{
    text-decoration:none;
    color: white;
    font-size: 1.4em;
}
ul{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    padding-left: 30px;
}
li{
    width: 100%;
    padding-right: 20px;
    padding-top: 20px;
    font-weight: bold;
}
h1{
    color:#FDD116;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;

}
.container img{
    width:99%;
    border-style: solid;
    border-color: #adb5bd;}
.container{
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}
main{
    display:flex;
    justify-content: space-around;
    padding: 20px;
    margin: auto;
}
aside{
    width:30%;
    background-color: #4C8DCD;
    color: white;
    padding:30px;
    margin-top:90px;
}
aside img{
    display:block;
    margin:auto;
    border-style: solid;
    border-color: white;
    width: 100%;
}

aside figcaption {
    text-align: center;
    margin-top: 10px;
}
aside p  {
    font-size: 1.3em;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 50px;
}
aside h3{
    font-weight:bold;
    font-size: 2em;
}
aside span{
    font-style: italic;
}
article{
    width:70%;
    padding: 10px; 
}
article p{
    text-align: justify;
    font-size: 1.2em;
}
footer{
    background-color: #25539E;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 1.3em;
}

@media (width <= 830px) {
    ul{
        flex-direction: column;
    }
    main {
        flex-direction: column;
    }
    h1{
        padding-top: 0;
    }
    h1, article{
        width: 100%;
    }
    aside{
        width: 100%;
        margin-top: 20px;
    }
}
@media (max-width: 600px) {
    ul{
        flex-direction: column;
    }
    li{
        padding-top: 10px;
    }
    
    main {
        flex-direction: column;
    }
    article{
        width: 100%;
    }
    aside {
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
}
@media (max-width: 419px){
    h2{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}